.notif {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00fff7;
  color: black;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: top 0.5s ease;
  z-index: 999;
}

.notif.show {
  top: 20px;
}
